body {
    background-color: #0E001E;
}

div.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

div.botton {
    height: 50px;
    border: 2px solid #fff;
}

.press {
    background-color: aquamarine;
}